- provide(:title, "F for Finance")

%h2 О проекте Finance

%p Проект Finance представляет собой выполненное тестовое задание на позицию Ruby on Rails разработчика и предоставляет следующий функционал:

%ol
  %li Регистрация / авторизация пользователей (гем devise);
  %li Создание портфеля акций для пользователя: стандартный CRUD;
  %li Данные скачиваются с Yahoo Finance (гем yahoo-finance);
  %li
    Для каждого портфеля выводится график "Средневзвешенная стоимость портфеля" за 2 последних года (гем metrics-graphics-rails).
    %br
    Стоимость портфеля вычисляется сложением стоимости акций из этого портфеля.
    %br
    Для расчета стоимости каждой акции за определенный день берется среднее арифметическое значений high и low для акции за эту дату. Также на итоговую стоимость портфеля влияет количество акций каждой компании.



    