%h2 Ваши портфели

= link_to 'Создать портфель', new_portfolio_path
%br

- if @portfolios.any?
  .portfolios-list
    %hr
    - current_user.portfolios.each do |p|
      = render "portfolios/portfolio", portfolio: p
      %hr
- else
  .no_items
    %p На данный момент у вас нет созданных портфелей
    = link_to 'Создать первый портфель', new_portfolio_path

