//= require_tree .
//= require_self
//= require metricsgraphics

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 960px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 60px;
}

.layout {
  padding: 0 20px;
}

h2 {
  color: #696464;
  margin-bottom: 25px;

  span {
    font-size: 17px;
    color: rgb(164, 161, 161);
    margin-left: 5px;
  }

  a {
    text-decoration: underline;
  }
}

h3 {
  margin: 25px 0px;
  color: #696464;
}

h4 {
  margin: 20px 0;
  color: #696464;
}

.no_items {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
}

.usual-form {
  width: 100%;
  margin: 5px 0;
  font-size: 16px;

  .attribute {
    margin-bottom: 10px;
  }

  label {
    font-weight: lighter;
    float: left;
  }

  input {
    max-width: 95px;
  }

  .actions {
    margin-top: 20px;
  }
}

.error_404 {
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
  color: #7B7777;
}

footer {
  position: absolute;
  bottom: 0;
  width: 920px;
  height: 61px;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
  border-radius: 4px;

  .copyright {
    text-align: right;
    margin: 20px;
    color: #777;
  }
}