.stock {
  
  h4 {
    margin: 0;
  } 

  .actions {
    margin-top: 5px;
  }

  a {
    margin-right: 5px;
  }
}

.stock-form {
  width: 450px;
  height: 120px;
  margin: 5px 0;
  font-size: 16px;

  .attribute {
    margin-bottom: 10px;
  }

  label {
    font-weight: lighter;
    float: left;
  }

  input {
    max-width: 95px;
  }

  #stock_name {
    margin-left: 19px;
    position: relative;
    top: -3px;
  }

  #stock_amount {
    margin-left: 5px;
  }

  .actions {
    margin-top: 20px;
  }

}

.stocks-list {
  width: 300px;
  float: left;
}