.stock {
  
  h4 {
    margin: 0;
  } 

  .actions {
    margin-top: 5px;
  }

  a {
    margin-right: 5px;
  }
}

.usual-form {
  #stock_name {
    margin-left: 19px;
    position: relative;
    top: -3px;
  }

  #stock_amount {
    margin-left: 5px;
  }

}

.stocks-list {
  width: 200px;
  float: left;
  margin-bottom: 70px;
}