.about-user {
  margin-bottom: 15px;

  font-size: 16px;

  .attribute {
    p.usual {
      width: 80px;
      float: left;
    }

    p.wider {
      width: 135px;
      float: left;
    }

    input {
      margin-bottom: 20px;
      position: relative;
      top: -3px;
      width: 250px;
    }
  }

  .checkbox {
    font-weight: lighter;
    margin: -10px 0 0 20px;

    label {
      margin-left: -20px;
    }
  }
}
